.slideShow {
  width: 100%;
  /* height: 100vh; */
  /* display: flex; */
  position: relative;
  /* relative to the slideShow which has been positioned absolute */
}

.slideShow + .container {
  padding: 1rem 2rem;
}
.proTrek__text {
  font-family: "Lato", sans-serif;
  line-height: 1.8;
  font-weight: 300;
  font-size: 1.125rem;
  color: rgb(16, 13, 13);
  width: 100%;
  margin: 1.5rem 0;
}
.slideShow img {
  width: 100%;
  object-fit: contain;
  /* max-width: 1200px; */
  display: block;
  /* height: 100%; */
}

section.smart {
  background-color: hsl(174, 72%, 91%);
  padding: 1rem 2rem;
  color: #fff;
}

@media (min-width: 768px) {
  .slideShow + .container {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1200px) {
  .proTrek__text {
    text-align: justify;
  }
}
