.navProductDetails {
  position: absolute;

  top: 82px;

  opacity: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 1rem;
  z-index: 101;
}

/* only show in the inView class is included */
.navProductDetails.inView {
  opacity: 1;
}
@media (min-width: 768px) {
  .navProductDetails {
    display: block;
  }
}
