.corporate__body {
  margin-bottom: 3rem;
}

.corporate__body > .container .itemCard .itemCard__text {
  border-bottom: unset;
}

.corporate__body > .container .itemCard .itemCard__finalSection {
  padding-top: unset;
  padding-bottom: 1.5rem;
  margin-top: -0.7rem;
}

.corporate__body > .container {
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .corporate__body > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
    /* padding: 1rem; */
  }
}
@media (min-width: 990px) {
  .corporate__body > .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .corporate__body > .container .itemCard .itemCard__text {
    font-size: 0.9rem;
  }
}
