.itemCard {
  padding: 1rem 2rem;
  /* background-color: #fff; */
}

.itemCard__text {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5rem 1rem;
  margin-left: 0;
  padding: 0.4rem;
  padding-bottom: 0.9rem;
  width: 100%;
  padding-left: 1rem;
  border-bottom: 1px solid rgb(209, 204, 204);
  text-transform: capitalize;
}

.itemCard__launchIcon {
  margin-right: 1rem;
  font-size: 0.9rem;
  color: var(--casio-blue);
  margin-bottom: 0.5rem;
}
.itemCard__textAndShowLink {
  display: flex;
  align-items: center;
}
.itemCard__finalSection {
  padding: 1rem 1rem;
  font-weight: 300; /* get font-weight of 400 */
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.itemCard__img {
  width: 100%;
  object-fit: contain;
}
.itemCard__body {
  background-color: #fff;
}

.itemCard:hover .itemCard__img {
  opacity: 0.7;
}

@media (min-width: 990px) {
  .itemCard__launchIcon {
    font-size: 1.1rem !important;
  }
}
