.navMoreDetails {
  background-color: rgb(234, 242, 255);
  width: 200px;
  position: absolute;
  top: 82px;
  opacity: 0;
  padding: 0.8rem 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 101;
}

/* only show in the inView class is included */
.navMoreDetails.inView {
  opacity: 1;
}
.navMoreDetails > * {
  padding: 0.5rem 0.8rem;
}

.navMoreDetails__corporate > a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMoreDetails__corporate svg {
  color: rgb(143, 143, 143);
  font-size: 0.9rem;
  padding: 0.1rem;
}

.navMoreDetails__productRegistration > a {
  color: red;
  text-decoration: none;
}

@media (min-width: 861px) {
  .navMoreDetails__productRegistration {
    display: none;
  }
}

@media (min-width: 902px) {
  .navMoreDetails {
    display: none;
  }
}
