.relatedLinks {
  padding: 1rem;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

.relatedLinks__header {
  margin-top: 4rem;
  border-bottom: 1px solid rgb(226, 223, 223);
  color: #333;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
}

.relatedLinks__listItem {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem 0rem;
}

.relatedLinks__linkContainer {
  padding: 1.2rem 0;
}

.relatedLinks__listItem:hover {
  box-shadow: 9px -10px -10px 20px rgb(211, 207, 207);
}
.relatedLinks__listItem:hover .relatedLinks__linkContainer {
  border: 1px solid rgb(211, 207, 207);
}
.relatedLinks__listItem:hover .relatedLinks__mediaIcon {
  opacity: 0.5;
}
.relatedLinks__link {
  text-decoration: none;
  color: #333;
}

.relatedLinks__mediaIcon {
  background-color: #fff;
}
.relatedLinks__mediaIcon > svg {
  font-size: calc(2rem + 10vw);
}

.relatedLinks__launchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}

.relatedLinks__launchIcon {
  color: blue;
  font-size: 1rem !important;
  margin-left: 0.2rem;
}

.relatedLinks__socialMedia {
  padding: 1rem;
}
.relatedLinks__socialMediaNav {
  list-style-type: none;
  display: grid;

  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

@media (min-width: 768px) {
  .relatedLinks__socialMediaNav {
    gap: 10px;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
  }

  .relatedLinks__linkContainer {
    background-color: rgb(245, 245, 245);
  }
  .relatedLinks__mediaIcon > svg {
    font-size: calc(2rem + 2vw);
  }

  .relatedLinks__linkContainer {
    padding: 25px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
  }

  .relatedLinks__mediaIcon {
    background-color: #fff;

    padding: 2rem;
    margin-top: -1rem;
    width: 90%;
  }

  .relatedLinks__launchContainer {
    margin-top: 1.6rem;
  }

  .relatedLinks__header {
    text-align: center;
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
  }

  .relatedLinks__listItem {
    padding: unset;
  }
  .relatedLinks__listItem:hover .relatedLinks__linkContainer {
    border: 1px solid rgb(211, 207, 207);
    border-top: unset;
  }

  .relatedLinks__socialMedia {
    padding: 1rem 2rem;
  }
}

@media (min-width: 1200px) {
  .relatedLinks__socialMedia {
    padding: 1rem 3rem;
  }
}
